/* CastMemberDetailsPage.css */

.cast-member-details-page__bio-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(196, 193, 198);
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: auto;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0s linear 0.3s;
}

.cast-member-details-page__bio-modal.open {
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0s linear 0s;
}

.cast-member-details-page__bio-modal-content {
    background-color: rgb(22, 27, 36);
    padding: 20px;
    border-radius: 8px;
    width: 80vw;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    max-height: 90vh;
}

.cast-member-details-page__bio-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.cast-member-details-page__bio-modal-header--left-container {
    display: flex;
    gap: 8px;
}

.cast-member-details-page__bio-modal-title {
    font-size: 1.5rem;
    margin: 0;
}
.cast-member-details-page__bio-modal-close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cast-member-details-page__bio-modal-close-icon {
    width: 24px;
    height: 24px;
    fill: white;
}

.cast-member-details-page__biography-text-container {
    height: 100%;
    max-height: calc(90vh - 90px);
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.01rem;
    word-spacing: 0.02rem;
    line-height: 1.62rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cast-member-details-page__details-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.cast-member-details-page__details-button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(196, 193, 198);
    background-color: rgba(107, 101, 112, 0.7);
    padding: 0px 7px;
    border-radius: 50px;
    font-size: 0.95rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.cast-member-details-page__details-button:hover {
    cursor: pointer;
    color: rgb(175, 187, 242);
    background-color: rgba(107, 101, 112, 0.5);
}

/* .cast-member-details-page__details-button {
    font-size: 1rem;
    font-weight: 500;
    padding: 3px 8px;
} */

/* Custom Dropdown Styles */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: rgba(107, 101, 112, 0.7);
    color: rgb(196, 193, 198);
    cursor: pointer;
    font-size: 0.9rem;
    min-width: 150px;
}

.custom-dropdown__icon {
    width: 16px;
    height: 16px;
    fill: rgb(196, 193, 198);
    transition: transform 0.3s ease;
}

.custom-dropdown__options {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 4px;
    background-color: rgb(22, 27, 36);
    border: 1px solid rgba(107, 101, 112, 0.7);
    padding: 5px 0;
    margin-top: 4px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition:
        opacity 0.2s ease-out,
        transform 0.2s ease-out,
        pointer-events 0.2s ease-out;
}

.custom-dropdown__options.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.custom-dropdown__option {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.9rem;
}

.custom-dropdown__option:hover {
    background-color: rgba(107, 101, 112, 0.5);
}

/* Filmography */

.filmography__section {
    height: fit-content;
    max-width: min(calc(1090px - 360px), calc(100vw - 430px));
    color: rgb(196, 193, 198);
}

.filmography__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
}

.filmography__title {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.filmography__count {
    height: 30px;
    padding: 0 12px;
    border-radius: 50px;
    margin-left: 10px;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}

.filmography__heading-icon {
    display: inline;
    height: 35px;
    aspect-ratio: 1;
    fill: rgb(196, 193, 198);
}

.filmography__view-full-list-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}
