/* MediaPoster.css */
.reusable-poster-container {
    position: relative;
    aspect-ratio: 5.5/8;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
}

.reusable-poster-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.reusable-poster-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reusable-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.reusable-hover-overlay.visible {
    opacity: 1;
    pointer-events: auto;
}

.reusable-icon {
    height: 100%;
    aspect-ratio: 1;
    fill: #c4c1c6;
}

.reusable-hover-overlay .reusable-icon {
    background-color: rgba(67, 71, 86, 0.6);
    height: 75px;
    padding: 10px;
    border-radius: 50px;
}

.reusable-poster-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #424656;
    cursor: auto;
}

.reusable-text {
    margin-top: 8px;
    color: #c4c1c6;
}

/* Fullscreen Modal Styles */
.reusable-fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.reusable-fullscreen-modal.active {
    opacity: 1;
}

.reusable-modal-content {
    position: relative;
    max-width: 90%;
    height: 90vh;
    border-radius: 12px;
    overflow: hidden;
}

.reusable-modal-image {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    object-fit: contain;
    user-select: none;
}

.reusable-modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    z-index: 101;
}

.reusable-icon-close {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    padding: 5px;
    height: 35px;
    width: 35px;
}
