/* Tab Links & Menu Button */

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: min(1170px, 100%);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
}

.navbar-left-section {
    display: flex;
    align-items: center;
    justify-content: start;
}

.menu-button {
    padding: 5px;
    display: none;
    opacity: 1;
    transition: opacity 0.35s ease;
    /* transform: translateX(-5px); */
}

.menu-button > svg {
    width: 33px;
    height: 33px;
    fill: #c4c1c6;
    stroke: rgb(196, 193, 198);
    transition:
        fill 0.25s ease,
        stroke 0.25s ease;
}

.menu-button:active > svg {
    fill: white;
    stroke: white;
}

.nav-links-container {
    display: flex;
    position: relative;
    transform: translateX(-15px);
}

.nav-indicator {
    position: absolute;
    height: 8px;
    border-radius: 50px;
    top: 50%;
    background-color: rgb(175, 187, 242);
    box-shadow:
        0 0 10px rgb(175, 187, 242),
        0 0 20px rgb(175, 187, 242);
    transition:
        transform 0.35s ease,
        width 0.3s ease;
}

.nav-links {
    height: 60%;
    display: flex;
    align-items: center;
    margin-right: 30px;

    padding: 12px 15px;
    font-size: 1.125rem;
    font-weight: 500;
    transition:
        color 0.2s ease-in-out,
        transform 0.25s ease-in-out;
}

.nav-links:last-child {
    margin-right: 0px;
}

.nav-links:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.nav-links.active {
    color: rgb(175, 187, 242);
}

.nav-links.inactive {
    color: #c4c1c6;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    transition: opacity 0.35s ease;
}

.sidebar > div {
    transition: transform 0.35s ease;
}

.sidebar.closed {
    opacity: 0;
}

.sidebar.open > div {
    transform: translateX(0px);
}

.sidebar.closed > div {
    transform: translateX(-400px);
}

.sidebar-nav-links-container {
    padding: 15px;
    width: 180px;
}

.sidebar-nav-links {
    height: 60%;
    display: flex;
    align-items: center;

    padding: 12px 15px;
    font-size: 1.125rem;
    font-weight: 500;
    transition:
        color 0.3s ease-in-out,
        transform 0.25s ease-in-out;
}

.sidebar-nav-links:hover {
    transform: translateX(3px);
    cursor: pointer;
}

.sidebar-nav-links.active {
    color: rgb(175, 187, 242);
}

.sidebar-nav-links.inactive {
    color: rgb(196, 193, 198);
}

/* Search bar */

.searchbar-container {
    position: relative;
    width: 300px;
    height: 40px;
    z-index: 100;
}

.searchbar-input {
    position: absolute;
    top: 0;
    color: white;
    background-color: rgb(107, 101, 112);
    padding-block: 5px;
    padding-inline: 12px 45px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid transparent;
    z-index: 3;
    transition:
        border 0.35s ease,
        padding 0.3s ease;
}

.searchbar-input::selection {
    background-color: rgba(175, 187, 242, 0.75);
}

.searchbar-input::placeholder {
    color: rgb(196, 193, 198);
}

.searchbar-input:focus {
    outline: none;
    border: 2px solid rgb(175, 187, 242);
    padding-inline: 15px 45px;
}

.searchbar-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 6/5;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 50px 50px 0;
    background-color: rgba(255, 255, 255, 0);

    z-index: 3;
    transition: background-color 0.3s ease;
}

.searchbar-btn:active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* .searchbar-input ~ .searchbar-btn:active {
    border: 2px solid rgb(175, 187, 242);
    background-color: rgba(255, 255, 255, 0.2);
} */

.searchbar-btn > svg {
    fill: rgb(196, 193, 198);
    height: 24px;
    aspect-ratio: 1;
    transition: fill 0.3s ease;
}

.searchbar-btn:hover > svg {
    fill: white;
}

.searchbar-container .query-results.loading {
    height: 100px;
}
.searchbar-container .query-results.loading .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 8px));
}
.searchbar-container .query-results {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    padding: 32px 12px 12px;

    background-color: rgba(60, 59, 68, 0.85);
    border-radius: 0 0 25px 25px;
    z-index: 1;
    overflow-y: scroll;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition:
        opacity 0.35s ease,
        height 0.45s ease;
    user-select: none;
}

.searchbar-container .query-results::-webkit-scrollbar {
    display: none;
}

.searchbar-container .query-results.active {
    height: 400px;
    opacity: 0.88;
}

.searchbar-container .query-results.inactive {
    height: 80px;
    opacity: 0;
}
.searchbar-container .query-results.failed {
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;

    background-color: rgba(60, 59, 68, 0.85);
    backdrop-filter: blur(100px);
    z-index: 1;
}

.searchbar-container .query-results.active .query-results-error-message {
    display: none;
    opacity: 0;
}

.searchbar-container .query-results.failed .query-results-error-message {
    color: rgb(196, 193, 198);
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.searchbar-container .query-results.inactive .query-results-error-message {
    opacity: 0;
}

/* Search bar result section */
.query-results.active .query-results-items {
    position: relative;
    margin-bottom: 12px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
    width: 100%;
    height: 80px;
    transition: background-color 0.35s ease;
    display: flex;
    gap: 8px;
    /* overflow: hidden; */
}

.query-results.active .query-results-items:last-of-type {
    margin-bottom: 0;
}

.query-results.active .query-results-items:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.query-results-items .poster-container {
    position: relative;
    height: 100%;
    aspect-ratio: 5.5/8;
    border-radius: 12px;
}

.query-results-items .poster-container .placeholder-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(196, 193, 198);
    width: 45px;
    aspect-ratio: 1;
}

.query-results-items img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    -webkit-user-drag: none;
}

.query-results-items .right-section {
    height: 100%;
    width: calc(100% - (80px * 5.5 / 8) - 8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.query-results-items .title {
    font-size: 1.25rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    padding-right:;
    color: #ffffff;
}

.query-results-items .info {
    font-size: 0.95rem;
    color: #ffffff;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.query-results-items .info .separator {
    padding-inline: 3px;
}
