:root {
  --carousel-height: 450px;
  --carousel-width: 1100px;
}

.carousel-images {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.carousel-track {
  position: relative;
  height: var(--carousel-height);
  width: var(--carousel-width);
}



.carousel-slides {
  position: absolute;
  height: 100%;
  
  transform: translate(calc(var(--carousel-width) / 2 - 50%), 0);
  list-style: none;
  border-radius: 12px;
  
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.35s ease;
}

.carousel-slides.current-slide-left {
  height: auto;
  aspect-ratio: 5.5/8;
  transform: translate(0, calc(var(--carousel-height) / 2 - 50%));
  border-radius: 10px 0 0 10px;
  z-index: 2;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px
  ;
}

.carousel-slides.current-slide-center {
  height: 100%;
  aspect-ratio: 17/12;
  transform: translate(calc(var(--carousel-width) / 2 - 50%), 0);
  z-index: 3;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px
  ;
}

.carousel-slides.current-slide-center > .carousel-small-poster {
  height: auto;
  width: calc(
    (var(--carousel-width) - calc(var(--carousel-height) * 17 / 12)) / 2
  );
  aspect-ratio: 1/1;
  transform: translate(0, 0);
  z-index: 100;
  padding-block: 100px;
  opacity: 0;
  display: none;
}

.carousel-slides.current-slide-center > .carousel-slide-full-container {
  opacity: 1;
}

.carousel-slides.current-slide-center > .carousel-slide-full-container .detail {
  transform: translate(0, 0%);
  opacity: 1;
}

.carousel-slides.current-slide-right {
  height: auto;
  width: calc(
    (var(--carousel-width) - calc(var(--carousel-height) * 17 / 12)) / 2
  );
  aspect-ratio: 5.5/8;
  transform: translate(
    calc(var(--carousel-width) - 100% - 1px),
    calc(var(--carousel-height) / 2 - 50%)
  );
  border-radius: 0 10px 10px 0;
  z-index: 2;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px
  ;
}



.hidden-slides {
  opacity: 0;
  display: block;
  z-index: 1;
}

.hidden-slide-left {
  height: auto;
  width: calc(
    (var(--carousel-width) - calc(var(--carousel-height) * 17 / 12)) / 2
  );
  aspect-ratio: 5.5/8;
  transform: translate(-100%, calc(var(--carousel-height) / 2 - 50%));
  border-radius: 10px 0 0 10px;
  z-index: 2;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px
  ;
}

.hidden-slide-right {
  height: auto;
  width: calc(
    (var(--carousel-width) - calc(var(--carousel-height) * 17 / 12)) / 2
  );
  aspect-ratio: 5.5/8;
  transform: translate(
    calc(var(--carousel-width)),
    calc(var(--carousel-height) / 2 - 50%)
  );
  border-radius: 0 10px 10px 0;
  z-index: 2;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px
  ;
}



.carousel-small-poster {
  height: auto;
  width: calc(
    (var(--carousel-width) - calc(var(--carousel-height) * 17 / 12)) / 2
  );
  aspect-ratio: 5.5/8;
  padding-block: 0;
}

.carousel-slide-full-container {
  position: absolute;
  top: 0;
  height: 100%;
  aspect-ratio: 17/12;
  opacity: 0;
}

.carousel-slide-full-container .detail {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0;
  transform: translate(0, 100%);
  transition:
    opacity 0.35s ease,
    transform 0.4s ease
  ;
}

.carousel-slide-full-container .detail .left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carousel-slide-full-container .detail .title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -.04rem;
}

.carousel-slide-full-container .detail .rating {
  opacity: 0.85;
  padding-left: 3px;
}

.carousel-slide-full-container .detail .save-btn {
  height: 45px;
  width: 45px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}

.carousel-slide-full-container .shadow-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.45) 20%,
    transparent 75%
  );
}



.move-btn {
  height: 50px;
  width: 50px;
  position: absolute;
  
  border: none;
  border-radius: 50%;
  background-color: rgb(117, 121, 136);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px
  ;
  transition: opacity 0.3s ease, background-color 0.25s ease;
}

.move-btn:hover {
  cursor: pointer;
}

.move-btn.disabled-move-btn:hover {
  cursor: no-drop;
}

.move-btn-left {
  top: 0;
  left: 0;
  z-index: 5;
  transform: translate(
    calc((100vw - 40px - var(--carousel-width)) / 2 - 50%),
    calc((100vh - 100px) / 2 - 50%)
  );
  z-index: 5;
}

.move-btn-left:active {
  background-color: rgb(140, 144, 159);
}

.move-btn-right {
  top: 0;
  right: 0;
  transform: translate(
    calc((100vw - 40px - var(--carousel-width)) / -2 + 50%),
    calc((100vh - 100px) / 2 - 50%)
  );
  z-index: 5;
}

.move-btn-right:active {
  background-color: rgb(140, 144, 159);
}

.disabled-move-btn {
  opacity: 0.25;
}

.carousel-btn-icons {
  width: 32px;
  height: 32px;
  transform: translate(0px, 2px);
  fill: rgb(244, 236, 214);
  transition: transform 0.3s ease;
}

.move-btn-left:active > .carousel-btn-icons {
  transform: translate(-5px, 2px);
}

.move-btn-right:active > .carousel-btn-icons {
  transform: translate(5px, 2px);
}

.move-btn-left.disabled-move-btn:active > .carousel-btn-icons {
  transform: translate(0px, 2px);
}

.move-btn-right.disabled-move-btn:active > .carousel-btn-icons {
  transform: translate(0px, 2px);
}