:root {
    --biography-height-offset: 72px;
}

.cast-member-details-page {
    position: relative;
    min-height: calc(100vh - 100px);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cast-member-details-page__content-wrapper {
    width: min(1170px, 100%);
    padding-inline: 40px;
}

.cast-member-details-page__header {
    width: 1170px;
    height: 500px;
    display: flex;
    padding-top: 35px;
    padding-inline: 30px;
    gap: 30px;
}

.cast-member-details-page__poster-container {
    aspect-ratio: 5.5/8;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.cast-member-details-page__title {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.cast-member-details-page__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(196, 193, 198);
    font-family: 'Montserrat', sans-serif;
}

.cast-member-details-page__biography {
    width: 100%;
}

.cast-member-details-page__biography-title {
    padding: 0;
    font-size: 1.5rem;
    display: inline;
}

.cast-member-details-page__metadata {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(196, 193, 198);
    font-family: 'Montserrat', sans-serif;
}

.cast-member-details-page__metadata-separator {
    margin-inline: 8px;
    color: rgba(196, 193, 198, 0.5);
}

.cast-member-details-page__metadata-icon {
    display: inline;
    margin-left: 4px;
    fill: rgb(196, 193, 198);
    opacity: 0.7;
    vertical-align: super;
    width: 15px;
    height: 15px;
}

.cast-member-details-page__metadata-icon--inline {
    display: inline-flex;
    align-items: center;
}

.cast-member-details-page__metadata span {
    display: inline-flex;
    align-items: center;
}

.cast-member-details-page__metadata sup {
    display: inline-flex;
}

/* Biography Section */

.cast-member-details-page__biography-container {
    width: 100%;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
    transition: height 0.35s ease;
}

.cast-member-details-page__biography-content {
    /* position: absolute; */
    /* height: var(--biography-height-offset); */
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: rgb(196, 193, 198);
}

.cast-member-details-page__biography-container--expanded {
    height: calc(var(--biography-height-offset) + 44px);
}

.cast-member-details-page__biography-container--collapsed {
    height: calc(72px + 44px);
}

.cast-member-details-page__biography-heading {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.cast-member-details-page__biography-title {
    padding: 0;
    font-size: 1.5rem;
    display: inline;
    color: rgb(196, 193, 198);
    font-family: 'Montserrat', sans-serif;
}

.cast-member-details-page__biography-expander {
    position: relative;
    color: black;
    height: 30px;
    background-color: rgb(175, 187, 242);
    border-radius: 50px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 0.9rem;
    display: inline;
    overflow: hidden;
    transition:
        width 0.35s ease,
        opacity 0.15s ease;
    user-select: none;
}

.cast-member-details-page__biography-expander p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.cast-member-details-page__biography-expander--expanded {
    width: 52px;
}

.cast-member-details-page__biography-expander--collapsed {
    width: 60px;
}

.cast-member-details-page__biography-expander--expanded p:first-child {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 20px));
}

.cast-member-details-page__biography-expander--expanded p:last-child {
    opacity: 1;
}

.cast-member-details-page__biography-expander--collapsed p:first-child {
    opacity: 1;
}

.cast-member-details-page__biography-expander--collapsed p:last-child {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 20px));
}

.cast-member-details-page__biography-shadow-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    background: linear-gradient(to top, rgb(13, 17, 24) 10%, transparent);
    transition: opacity 0.3s ease;
}

.cast-member-details-page__biography-container--expanded
    .cast-member-details-page__biography-shadow-overlay {
    opacity: 0;
}

.cast-member-details-page__biography-container--collapsed
    .cast-member-details-page__biography-shadow-overlay {
    opacity: 1;
}

.cast-member-details-page__image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(196, 193, 198, 0.1);
    gap: 5px;
}

.cast-member-details-page__placeholder-icon {
    width: 70px;
    aspect-ratio: 1;
    fill: rgb(196, 193, 198);
    opacity: 0.35;
}

.cast-member-details-page__placeholder-text {
    color: rgb(196, 193, 198);
    opacity: 0.35;
    font-size: 0.9rem;
}

/* Filmography */

.media-image-container {
    height: 170px;
    aspect-ratio: 5.5/9;
    border-radius: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(196, 193, 198, 0.1);
    overflow: hidden;
}

.media-scroller-inner {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    transition: transform 0.15s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    user-select: none;
}

.media-scroller-inner .shadow-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100px;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.3s ease;
}

.media-scroller-inner .shadow-overlay > * {
    pointer-events: visible;
    transform: translateY(-50px);
}
.media-scroller-inner .shadow-overlay-start > * {
    transform: translate(-12px, -50px);
}
.media-scroller-inner .shadow-overlay-end > * {
    transform: translate(12px, -50px);
}

.media-scroller-inner .shadow-overlay-start {
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to right, rgb(13, 17, 24) 0%, transparent);
}

.media-scroller-inner .shadow-overlay-end {
    right: 0;
    opacity: 1;
    background-image: linear-gradient(to left, rgb(13, 17, 24) 10%, transparent);
}

.media-scroller-wrapper {
    top: 0;
    left: 0;
    width: max-content;
    height: 100%;
    white-space: nowrap;
    display: inline-flex;
    will-change: transform;
    height: 100%;
    white-space: nowrap;
    display: inline-flex;
    gap: 12px;
    will-change: transform;
}

.media-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
