/* Content Page */
.content-container {
    position: relative;
    min-height: calc(100vh - 100px);
    height: 100%;
    width: calc(100vw - 17px);
    width: calc(100vw - 17px);

    display: flex;
    justify-content: center;
}

.content-background-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0); /*******/
    height: 100vh;
    width: 100vw;
    transform: translateY(-100px);
    z-index: -100;
}

.content-detail-container {
    width: min(1170px, 100%);
    padding-inline: 40px;
}

.details-heading-section {
    width: 100%;
    height: 500px;
    display: flex;
    padding-top: 35px;
    gap: 30px;
}

.details-heading-section .poster-container {
    aspect-ratio: 5.5/8;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.details-heading-section .poster-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.details-heading-section .poster-wrapper.fullscreen {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
}

.details-heading-section .poster-wrapper .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.details-heading-section .poster-wrapper.fullscreen .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    aspect-ratio: 5.5/8;
}

.details-heading-section .poster-wrapper .fullscreen-btn {
    padding: 15px;
    height: 120px;
    aspect-ratio: 1;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease;
}

.details-heading-section .poster-wrapper .fullscreen-btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.details-heading-section .poster-wrapper .overlay .icon {
    fill: rgb(196, 193, 198);
    aspect-ratio: 1;
    width: 75px;
    height: 75px;
}

.details-heading-section .poster-wrapper:no:hover .overlay {
    opacity: 1;
}

.details-heading-section .poster-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.details-heading-section .poster-wrapper.fullscreen .poster-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    object-fit: contain;
    aspect-ratio: 5.5/8;
}

.details-heading-section .poster-placeholder {
    background-color: rgba(196, 193, 198, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-heading-section .poster-placeholder .icon {
    width: 70px;
    aspect-ratio: 1;
    fill: rgb(196, 193, 198);
    opacity: 0.35;
}

.details-heading-section .poster-placeholder .text {
    color: rgb(196, 193, 198);
    opacity: 0.35;
    font-size: 0.9rem;
}

.details-heading-section .poster > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.poster-wrapper:hover {
    cursor: pointer;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.fullscreen-content {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0c0c0c9d;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.poster-container:hover .hover-overlay {
    opacity: 1;
}

.details-heading-section .right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-heading-section .right-side > * {
    color: rgb(196, 193, 198);
    font-family: 'Montserrat', sans-serif;
}

.details-heading-section .media-title {
    color: white;
    font-weight: 500;
}

.details-heading-section .title-large {
    font-size: 2rem;
}

.details-heading-section .title-medium {
    font-size: 1.85rem;
}

.details-heading-section .title-small {
    font-size: 1.7rem;
}

.details-heading-section .title-large {
    font-size: 2rem;
}

.details-heading-section .title-medium {
    font-size: 1.85rem;
}

.details-heading-section .title-small {
    font-size: 1.7rem;
}

.details-heading-section .metadata {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.metadata .separator {
    margin-inline: 8px;
    color: rgba(196, 193, 198, 0.5);
}

.metadata .date-separator {
    margin-inline: 2px;
}

.metadata .popup {
    text-decoration: underline rgba(196, 193, 198, 0.75) 1.2px;
}

.genre-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}

.genre-item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(196, 193, 198);
    background-color: rgba(107, 101, 112, 0.7);
    padding: 0px 7px;
    border-radius: 50px;
    font-size: 0.95rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.genre-item:hover {
    cursor: pointer;
    color: rgb(175, 187, 242);
    background-color: rgba(107, 101, 112, 0.5);
}

.rating-container {
    width: 425px;
    height: 75px;
    display: flex;
    margin-bottom: 20px;
    transform: translateX(-12px);
}

.rating-container .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-container .item .label {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.rating-container .item .value {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 5px;
}

.rating-container .separator {
    width: 2px;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(196, 193, 198, 0.15);
}

.rating-container .icon {
    height: 24px;
    aspect-ratio: 1;
}

.rating-container .imdb-rating .value .icon {
    fill: rgba(250, 162, 0, 0.75);
}

.rating-container .vote-count .value .icon {
    fill: rgba(118, 152, 179, 0.85);
}

.rating-container .popularity .value .icon {
    fill: #49a078;
}

.rating-container .value .average {
    font-size: 1.5rem;
}

.overview {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: height 0.35s ease;
}

.overview .info {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.overview .heading {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.overview .title {
    padding: 0;
    font-size: 1.5rem;
    display: inline;
}

.overview .expander {
    position: relative;
    color: black;
    height: 30px;
    background-color: rgb(175, 187, 242);
    border-radius: 50px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 0.9rem;
    display: inline;
    overflow: hidden;
    transition:
        width 0.35s ease,
        opacity 0.15s ease;
    user-select: none;
}

.overview .expander p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.overview .expander.expanded {
    width: 76px;
}

.overview .expander.collapsed {
    width: 70px;
}

.overview .expander.expanded p:first-child {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 20px));
}

.overview .expander.expanded p:last-child {
    opacity: 1;
}

.overview .expander.collapsed p:first-child {
    opacity: 1;
}

.overview .expander.collapsed p:last-child {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 20px));
}

.overview .shadow-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    background: linear-gradient(to top, rgb(13, 17, 24) 10%, transparent);
    transition: opacity 0.3s ease;
}

.overview:has(.expanded) .shadow-overlay {
    opacity: 0;
}

.overview:has(.collapsed) .shadow-overlay {
    opacity: 1;
}

/* Cast Section */

.cast-members-container {
    height: fit-content;
    padding-block: 50px;
    color: rgb(196, 193, 198);
}

.cast-members-container .title {
    font-size: 2.2rem;
    font-weight: 500;
    font-family: Montserrat;
    padding-bottom: 18px;
}

.cast-members-container .title span {
    padding-inline: 10px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: rgb(175, 187, 242);
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
}

.cast-members-container .title .icon {
    display: inline;
    height: 35px;
    aspect-ratio: 1;
    fill: rgb(196, 193, 198);
}

.cast-members-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-full-cast-button {
    padding: 3px 12px;
    border-radius: 50px;
    background-color: rgb(175, 187, 242);
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}

.cast-scroller-container {
    position: relative;
    width: 100%;
    height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    transition: transform 0.15s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 220px;
    user-select: none;
}

.cast-scroller-container .shadow-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100px;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.3s ease;
}

.cast-scroller-container .shadow-overlay > * {
    pointer-events: visible;
    transform: translateY(-50px);
}
.cast-scroller-container .shadow-overlay-start > * {
    transform: translate(-12px, -50px);
}
.cast-scroller-container .shadow-overlay-end > * {
    transform: translate(12px, -50px);
}

.cast-scroller-container .shadow-overlay-start {
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to right, rgb(13, 17, 24) 0%, transparent);
}

.cast-scroller-container .shadow-overlay-end {
    right: 0;
    opacity: 1;
    background-image: linear-gradient(to left, rgb(13, 17, 24) 10%, transparent);
}

.cast-scroller-wrapper {
    top: 0;
    left: 0;
    width: max-content;
    height: 100%;
    white-space: nowrap;
    display: inline-flex;
    will-change: transform;
    height: 100%;
    white-space: nowrap;
    display: inline-flex;
    will-change: transform;
}

.cast-member {
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 150px 1fr;
}

.cast-member .cast-image-container {
    height: 100%;
    aspect-ratio: 7/8;
    border-radius: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(196, 193, 198, 0.1);
    overflow: hidden;
}

.cast-member .cast-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    color: transparent;
}

.cast-image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cast-image-placeholder .placeholder-icon {
    width: 50px;
    aspect-ratio: 1;
    fill: rgb(196, 193, 198);
    opacity: 0.35;
}

.cast-image-placeholder .placeholder-text {
    color: rgb(196, 193, 198);
    opacity: 0.35;
    font-size: small;
}

.cast-member .detail {
    width: 200px;
    width: 200px;
    height: 100%;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cast-member .detail p {
    font-family: 'Open Sans', sans-serif;
    width: calc(100% - 24px);
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.cast-member .cast-character-name {
    color: rgba(196, 193, 198, 0.6);
}
