/* Poplar Page - carousel */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 100px);
}

.carousel-mask {
    position: absolute;
    height: clamp(550px, calc(100% - 80px), 650px);
    aspect-ratio: 5.5/8;
    border-radius: 25px;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.09),
        0 4px 2px rgba(0, 0, 0, 0.09),
        0 8px 4px rgba(0, 0, 0, 0.09),
        0 16px 8px rgba(0, 0, 0, 0.09),
        0 32px 16px rgba(0, 0, 0, 0.09);
    overflow: hidden;
}

.mouse-down-detector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.carousel-cards {
    position: relative;
    aspect-ratio: 5.5/8;
    display: flex;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
}

.carousel-wrapper .carousel-cards {
    position: absolute;
    width: 100%;
    transform: translateX(0%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-wrapper .carousel-cards:first-child {
    transform: translateX(-100%);
    z-index: 1;
}

.carousel-wrapper .carousel-cards:last-child {
    transform: translateX(calc(100% + 1px));
    z-index: 1;
}

.carousel-cards > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: auto;
}

.carousel-detail-bg {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 24px);
    gap: 0px;

    position: absolute;
    bottom: 12px;
    left: 12px;
    padding: 12px;
    border-radius: 12px;

    background-color: rgba(31, 41, 55, 0.7);
    color: white;

    font-family: 'Montserrat', sans-serif;
    pointer-events: none;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-detail-title {
    font-size: 1.35rem;
    user-select: none;
}

.carousel-detail-rating {
    font-size: 0.8rem;
    user-select: none;
    letter-spacing: 0.015rem;
}

.rating-span {
    font-size: 1.1rem;
    padding-right: 4px;
}

/* Navigation Buttons */

.carouselBtns {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: opacity 0.2s ease;
    backdrop-filter: blur(2.5px);
    z-index: 10;
    z-index: 10;
}

.carouselBtns:active {
    opacity: 0.75;
}

.prevBtn {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    padding: 8px;
    border-radius: 100px;
}

.nextBtn {
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 8px;
    border-radius: 100px;
}

.carouselBtns > svg {
    fill: white;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    transition:
        fill 0.2s ease,
        transform 0.2s ease;
}

.prevBtn:active > svg {
    transform: translateX(-0.25rem);
    fill: rgb(175, 187, 242);
}

.nextBtn:active > svg {
    transform: translateX(0.25rem);
    fill: rgb(175, 187, 242);
}

/* Home Page - Up Next */

.up-next-container {
    display: block;
    position: fixed;
    top: 160px;
    left: 50%;
    transform: translate(calc(calc((650px * 5.5 / 8) / 2) + 30px), 0);
    width: calc(100vw / 2 - 300px);
}

.up-next-title {
    color: #c4c1c6;
    font-size: 1.75rem;
    font-weight: 500;
    padding: 12px 18px 12px;
}

.up-next-mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translateY(0);
}

.up-next-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.up-next-wrapper .up-next-item {
    position: absolute;
    top: 50%;
    height: 120px;
    width: 100%;
    max-width: 400px;
    padding: 10px;

    display: grid;
    grid-template-columns: calc(100px * 5.5 / 8) 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.up-next-item:last-child {
    opacity: 0;
}
.up-next-item:first-child {
    opacity: 0;
}

.up-next-item .poster {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    font-size: 0rem;
}

.up-next-item .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8px;
    min-width: 100%;
    width: calc(100% - calc(100px * 5.5 / 8));
}

.up-next-item .poster:hover + .right-side .title {
    color: #afbbf2;
}

.up-next-item .title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    transition: color 0.2s ease-out;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.up-next-item .title:hover {
    color: #afbbf2;
}

.up-next-item .director-name {
    color: white;
    font-size: 0.88rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
}

.up-next-item .genres-container .genre-scroll-container {
    color: white;
    display: flex;
    gap: 6px;
}

.genres-container .genre-scroll-container > .genres-item {
    color: #afbbf2;
    background-color: rgba(107, 101, 112, 0.5);
    border-radius: 50px;
    padding-inline: 7px;
    font-size: 0.85rem;
}

/* Navigation menu */

.navigation-menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 31vw), calc(-50% + 50px));

    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
    padding: 20px;
}

.navigation-menu-heading {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navigation-menu-heading .title {
    font-size: 1.3rem;
    font-weight: 600;
}

.navigation-menu-heading .icon {
    width: 30px;
    height: 30px;
    fill: rgba(255, 255, 255, 0.75);
    transform: scaleX(-1);
}

.navigation-menu-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    margin-left: 0px;
    padding-left: 32px;
    position: relative;
}

.indicator-line {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    border-left: 2px dashed rgba(255, 255, 255, 0.2);
}

.indicator {
    position: absolute;
    left: -2px;
    width: 4px;
    height: 30px;
    background-color: #ffffff; /* Neon green color */
    border-radius: 999px;
    transition: top 0.2s ease-in-out;
    margin-block: 6px;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Neon glow effect */
}

.navigation-menu-content button {
    opacity: 0.6;
    transition: opacity 0.35s ease;
    width: 100%;
    padding-block: 10px;
    border: none;
    background-color: transparent;
    color: white;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
}

.navigation-menu-content button:hover {
    opacity: 1;
}

.navigation-button.selected {
    opacity: 1;
}
