/* src/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(13, 17, 24);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Loading styles */

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    color: red;
}

/* Navigation (Tab Links) */

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: min(1170px, 100%);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
}

.navbar-left-section {
    display: flex;
    align-items: center;
    justify-content: start;
}

.menu-button {
    padding: 5px;
    display: none;
    opacity: 1;
    transition: opacity 0.35s ease;
}

.menu-button > svg {
    width: 33px;
    height: 33px;
    fill: rgb(196, 193, 198);
    stroke: rgb(196, 193, 198);
    transition:
        fill 0.25s ease,
        stroke 0.25s ease;
}

.menu-button:active > svg {
    fill: white;
    stroke: white;
}

.nav-links-container {
    display: flex;
    position: relative;
}

.nav-indicator {
    position: absolute;
    height: 8px;
    border-radius: 50px;
    top: 50%;
    background-color: rgb(175, 187, 242);
    box-shadow:
        0 0 10px rgb(175, 187, 242),
        0 0 20px rgb(175, 187, 242);
    transition:
        transform 0.35s ease,
        width 0.3s ease;
}

.nav-links {
    height: 60%;
    display: flex;
    align-items: center;
    margin-right: 30px;

    padding: 12px 15px;
    font-size: 1.125rem;
    font-weight: 500;
    transition:
        color 0.2s ease-in-out,
        transform 0.25s ease-in-out;
}

.nav-links:last-child {
    margin-right: 0px;
}

.nav-links:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.nav-links.active {
    color: rgb(175, 187, 242);
}

.nav-links.inactive {
    color: rgb(196, 193, 198);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    transition: opacity 0.35s ease;
}

.sidebar > div {
    transition: transform 0.35s ease;
}

.sidebar.closed {
    opacity: 0;
}

.sidebar.open > div {
    transform: translateX(0px);
}

.sidebar.closed > div {
    transform: translateX(-400px);
}

.sidebar-nav-links-container {
    padding: 15px;
    width: 180px;
}

.sidebar-nav-links {
    height: 60%;
    display: flex;
    align-items: center;

    padding: 12px 15px;
    font-size: 1.125rem;
    font-weight: 500;
    transition:
        color 0.3s ease-in-out,
        transform 0.25s ease-in-out;
}

.sidebar-nav-links:hover {
    transform: translateX(3px);
    cursor: pointer;
}

.sidebar-nav-links.active {
    color: rgb(175, 187, 242);
}

.sidebar-nav-links.inactive {
    color: rgb(196, 193, 198);
}

@media (max-width: 1000px) {
    .menu-button {
        display: block;
    }

    .nav-links-container {
        display: none;
    }
}

/* Navigation (Search bar) */

.searchbar-container {
    position: relative;
}

.searchbar-input {
    color: white;
    background-color: rgb(107, 101, 112);
    padding-block: 5px;
    padding-inline: 12px 45px;
    width: 300px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition:
        border 0.35s ease,
        padding 0.3s ease;
}

.searchbar-input::selection {
    background-color: rgba(175, 187, 242, 0.75);
}

.searchbar-input::placeholder {
    color: rgb(196, 193, 198);
}

.searchbar-input:focus {
    outline: none;
    border: 2px solid rgb(175, 187, 242);
    padding-inline: 15px 45px;
}

.searchbar-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 6/5;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 50px 50px 0;
    background-color: rgba(255, 255, 255, 0);

    transition: background-color 0.3s ease;
}

.searchbar-btn:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.searchbar-btn > svg {
    fill: rgb(196, 193, 198);
    height: 24px;
    aspect-ratio: 1;
    transition: fill 0.3s ease;
}

.searchbar-btn:hover > svg {
    fill: white;
}

/* Poplar Page - carousel */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 100px);
}

.carousel-mask {
    position: absolute;
    height: clamp(588px, calc(100% - 80px), 650px);
    aspect-ratio: 5.5/8;
    border-radius: 25px;
    overflow: hidden;
}

.mouse-down-detector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.carousel-cards {
    position: relative;
    aspect-ratio: 5.5/8;
    display: flex;
    overflow: hidden;
}

.carousel-wrapper {
    z-index: 50;
    user-select: none;
}

.carousel-wrapper .carousel-cards {
    position: absolute;
    width: 100%;
    transform: translateX(0%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-wrapper .carousel-cards:first-child {
    transform: translateX(-100%);
    z-index: 1;
}

.carousel-wrapper .carousel-cards:last-child {
    transform: translateX(calc(100% + 1px));
    z-index: 1;
}

.carousel-cards > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: auto;
}

.carousel-detail-bg {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 24px);
    gap: 0px;

    position: absolute;
    bottom: 12px;
    left: 12px;
    padding: 12px;
    border-radius: 12px;

    background-color: rgba(31, 41, 55, 0.8);
    color: white;

    font-family: 'Montserrat', sans-serif;
    pointer-events: none;
}

.carousel-detail-title {
    font-size: 1.35rem;
    user-select: none;
}

.carousel-detail-rating {
    font-size: 0.8rem;
    user-select: none;
    letter-spacing: 0.015rem;
}

.rating-span {
    font-size: 1.1rem;
    padding-right: 4px;
}

/* Navigation Buttons */

.carouselBtns {
    position: absolute;
    background-color: black;
    opacity: 0.65;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.carouselBtns:active {
    opacity: 0.5;
}

.prevBtn {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    padding: 8px;
    border-radius: 100px;
}

.nextBtn {
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 8px;
    border-radius: 100px;
}

.carouselBtns > svg {
    fill: white;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    transition:
        fill 0.2s ease,
        transform 0.2s ease;
}

.prevBtn:active > svg {
    transform: translateX(-0.25rem);
    fill: rgb(175, 187, 242);
}

.nextBtn:active > svg {
    transform: translateX(0.25rem);
    fill: rgb(175, 187, 242);
}

/* Poplar Page - Up Next */

.up-next-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(calc((650px * 5.5 / 8) / 2) + 30px), calc(50px - 50%));
    width: 400px;
}

.up-next-title {
    color: rgb(175, 187, 242);
    font-size: 1.75rem;
    font-weight: 500;
    padding: 12px 18px 12px;
}

.up-next-mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translateY(0);
}

.up-next-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.up-next-wrapper .up-next-item {
    position: absolute;
    top: 50%;
    height: 120px;
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-columns: calc(100px * 5.5 / 8) 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    overflow: hidden;
}

.up-next-item:last-child {
    opacity: 0;
}
.up-next-item:first-child {
    opacity: 0;
}

.up-next-item .poster {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.up-next-item .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 8px;
}

.up-next-item .title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.up-next-item .director-name {
    color: white;
    font-size: 0.88rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
}

.up-next-item .genres-container {
    color: white;
    display: flex;
    gap: 6px;
}

.genres-container > div {
    color: rgb(175, 187, 242);
    background-color: rgba(107, 101, 112, 0.5);
    border-radius: 50px;
    padding-inline: 7px;
    font-size: 0.85rem;
}

/* Movie page styles */

.movie-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

.movie-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.movie-poster {
    border-radius: 10px;
    box-shadow: 0 0 20px #070707;
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.movie-info {
    max-width: 600px;
}

.movie-title {
    font-size: 2rem;
    margin: 0;
}

.movie-overview {
    font-size: 1rem;
    margin: 10px 0;
}

.movie-rating {
    font-size: 1.2rem;
}

.rating-value {
    font-weight: bold;
}

.additional-details {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

/* Responsive styles for phones */
@media (max-width: 768px) {
    .movie-header {
        flex-direction: column;
        align-items: center;
    }

    .movie-poster {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .movie-overview {
        order: 1;
    }
}

@media (max-height: 768px) {
    .carousel-container {
        height: calc(768px - 100px);
    }
}
