/* src/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(13, 17, 24);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling if needed */
}

/* Custom scrollbar styles for the default scroller */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(31, 41, 55, 0.8); /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: rgb(175, 187, 242); /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 170, 220); /* Thumb color on hover */
}

/* Custom scrollbar styles for Firefox */
* {
    scrollbar-width: thin; /* Use thin scrollbar */
    scrollbar-color: rgb(175, 187, 242) rgba(31, 41, 55, 0.8); /* Thumb and track color */
}

/* Loading styles */

/* src/components/AppComponents/Loading.css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.animate-spin {
    animation: spin 1s linear infinite;
    border-radius: 50%;
    border-top: 4px solid #afbbf2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    font-family: Arial, Helvetica, sans-serif;
}

.error-details-wrapper .title {
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
}

.error-details-wrapper .description {
    color: rgb(255, 175, 175);
    font-size: 1.2rem;
}

/* Navigation (Tab Links) */

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: min(1170px, 100%);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
}

.navbar-left-section {
    display: flex;
    align-items: center;
    justify-content: start;
}

.menu-button {
    padding: 5px;
    display: none;
    opacity: 1;
    transition: opacity 0.35s ease;
}

.menu-button > svg {
    width: 33px;
    height: 33px;
    fill: #c4c1c6;
    stroke: rgb(196, 193, 198);
    transition:
        fill 0.25s ease,
        stroke 0.25s ease;
}

.menu-button:active > svg {
    fill: white;
    stroke: white;
}

.nav-links-container {
    display: flex;
    position: relative;
}

.nav-indicator {
    position: absolute;
    height: 8px;
    border-radius: 50px;
    top: 50%;
    background-color: rgb(175, 187, 242);
    box-shadow:
        0 0 10px rgb(175, 187, 242),
        0 0 20px rgb(175, 187, 242);
    transition:
        transform 0.35s ease,
        width 0.3s ease;
}

.nav-links {
    height: 60%;
    display: flex;
    align-items: center;
    margin-right: 30px;

    padding: 12px 15px;
    font-size: 1.125rem;
    font-weight: 500;
    transition:
        color 0.2s ease-in-out,
        transform 0.25s ease-in-out;
}

.nav-links:last-child {
    margin-right: 0px;
}

.nav-links:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.nav-links.active {
    color: rgb(175, 187, 242);
}

.nav-links.inactive {
    color: #c4c1c6;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    transition: opacity 0.35s ease;
}

.sidebar > div {
    transition: transform 0.35s ease;
}

.sidebar.closed {
    opacity: 0;
}

.sidebar.open > div {
    transform: translateX(0px);
}

.sidebar.closed > div {
    transform: translateX(-400px);
}

.sidebar-nav-links-container {
    padding: 15px;
    width: 180px;
}

.sidebar-nav-links {
    height: 60%;
    display: flex;
    align-items: center;

    padding: 12px 15px;
    font-size: 1.125rem;
    font-weight: 500;
    transition:
        color 0.3s ease-in-out,
        transform 0.25s ease-in-out;
}

.sidebar-nav-links:hover {
    transform: translateX(3px);
    cursor: pointer;
}

.sidebar-nav-links.active {
    color: rgb(175, 187, 242);
}

.sidebar-nav-links.inactive {
    color: rgb(196, 193, 198);
}

/* Navigation (Search bar) */

.searchbar-container {
    position: relative;
    width: 300px;
    height: 40px;
}

.searchbar-input {
    position: absolute;
    top: 0;
    color: white;
    background-color: rgb(107, 101, 112);
    padding-block: 5px;
    padding-inline: 12px 45px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid transparent;
    z-index: 3;
    transition:
        border 0.35s ease,
        padding 0.3s ease;
}

.searchbar-input::selection {
    background-color: rgba(175, 187, 242, 0.75);
}

.searchbar-input::placeholder {
    color: rgb(196, 193, 198);
}

.searchbar-input:focus {
    outline: none;
    border: 2px solid rgb(175, 187, 242);
    padding-inline: 15px 45px;
}

.searchbar-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 6/5;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 50px 50px 0;
    background-color: rgba(255, 255, 255, 0);

    z-index: 3;
    transition: background-color 0.3s ease;
}

.searchbar-btn:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.searchbar-btn > svg {
    fill: rgb(196, 193, 198);
    height: 24px;
    aspect-ratio: 1;
    transition: fill 0.3s ease;
}

.searchbar-btn:hover > svg {
    fill: white;
}

.query-results {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;

    width: 100%;
    padding-top: 18px;

    background-color: rgba(60, 59, 68, 0.85);
    backdrop-filter: blur(100px);
    border-radius: 0 0 20px 20px;
    z-index: 1;
    transition:
        opacity 0.35s ease,
        height 0.35s ease;
}

.query-results.active {
    height: 100px;
    opacity: 0.88;
}

.query-results.inactive {
    height: 80px;
    opacity: 0;
}

.query-results.inactive .query-results-error-message {
    opacity: 0;
}

.query-results-error-message {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 200px;
    text-align: center;
    transform: translateX(-50%);
    color: rgb(196, 193, 198);
    opacity: 1;
}

/* Poplar Page - carousel */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 100px);
}

.carousel-mask {
    position: absolute;
    height: clamp(550px, calc(100% - 80px), 650px);
    aspect-ratio: 5.5/8;
    border-radius: 25px;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.09),
        0 4px 2px rgba(0, 0, 0, 0.09),
        0 8px 4px rgba(0, 0, 0, 0.09),
        0 16px 8px rgba(0, 0, 0, 0.09),
        0 32px 16px rgba(0, 0, 0, 0.09);
    overflow: hidden;
}

.mouse-down-detector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.carousel-cards {
    position: relative;
    aspect-ratio: 5.5/8;
    display: flex;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
}

.carousel-wrapper .carousel-cards {
    position: absolute;
    width: 100%;
    transform: translateX(0%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-wrapper .carousel-cards:first-child {
    transform: translateX(-100%);
    z-index: 1;
}

.carousel-wrapper .carousel-cards:last-child {
    transform: translateX(calc(100% + 1px));
    z-index: 1;
}

.carousel-cards > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: auto;
}

.carousel-detail-bg {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 24px);
    gap: 0px;

    position: absolute;
    bottom: 12px;
    left: 12px;
    padding: 12px;
    border-radius: 12px;

    background-color: rgba(31, 41, 55, 0.8);
    color: white;

    font-family: 'Montserrat', sans-serif;
    pointer-events: none;

    backdrop-filter: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-detail-title {
    font-size: 1.35rem;
    user-select: none;
}

.carousel-detail-rating {
    font-size: 0.8rem;
    user-select: none;
    letter-spacing: 0.015rem;
}

.rating-span {
    font-size: 1.1rem;
    padding-right: 4px;
}

/* Navigation Buttons */

.carouselBtns {
    position: absolute;
    background-color: black;
    opacity: 0.65;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.carouselBtns:active {
    opacity: 0.5;
}

.prevBtn {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    padding: 8px;
    border-radius: 100px;
}

.nextBtn {
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 8px;
    border-radius: 100px;
}

.carouselBtns > svg {
    fill: white;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    transition:
        fill 0.2s ease,
        transform 0.2s ease;
}

.prevBtn:active > svg {
    transform: translateX(-0.25rem);
    fill: rgb(175, 187, 242);
}

.nextBtn:active > svg {
    transform: translateX(0.25rem);
    fill: rgb(175, 187, 242);
}

/* Popular Page - Up Next */

.up-next-container {
    display: block;
    position: fixed;
    top: 160px;
    left: 50%;
    transform: translate(calc(calc((650px * 5.5 / 8) / 2) + 30px), 0);
    width: calc(100vw / 2 - 300px);
}

.up-next-title {
    color: #c4c1c6;
    font-size: 1.75rem;
    font-weight: 500;
    padding: 12px 18px 12px;
}

.up-next-mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translateY(0);
}

.up-next-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.up-next-wrapper .up-next-item {
    position: absolute;
    top: 50%;
    height: 120px;
    width: 100%;
    max-width: 400px;
    padding: 10px;

    display: grid;
    grid-template-columns: calc(100px * 5.5 / 8) 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.up-next-item:last-child {
    opacity: 0;
}
.up-next-item:first-child {
    opacity: 0;
}

.up-next-item .poster {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    font-size: 0rem;
}

.up-next-item .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8px;
    min-width: 100%;
    width: calc(100% - calc(100px * 5.5 / 8));
}

.up-next-item .poster:hover + .right-side .title {
    color: #afbbf2;
}

.up-next-item .title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    transition: color 0.2s ease-out;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.up-next-item .title:hover {
    color: #afbbf2;
}

.up-next-item .director-name {
    color: white;
    font-size: 0.88rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
}

.up-next-item .genres-container .genre-scroll-container {
    color: white;
    display: flex;
    gap: 6px;
}

.genres-container .genre-scroll-container > .genres-item {
    color: #afbbf2;
    background-color: rgba(107, 101, 112, 0.5);
    border-radius: 50px;
    padding-inline: 7px;
    font-size: 0.85rem;
}

/* .genres-item {
    margin-right: 3px;
    padding: 3px;
    display: inline;
    width: calc(100% / 5.5);
} */

/* Movie page styles */

.movie-page-container {
    position: relative;
    min-height: calc(100vh - 100px);
    height: 100%;
    width: 100vw;

    display: flex;
    justify-content: center;
}

.movie-detail-container {
    position: absolute;
    width: min(1170px, 100%);
    height: 100%;
    padding-inline: 40px;
}

.movie-page-background-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0); /*******/
    height: 100vh;
    width: 100vw;
    transform: translateY(-100px);
    z-index: -100;
}

.details-heading-section {
    width: 100%;
    height: 500px;
    display: flex;
    padding-top: 35px;
}

.details-heading-section {
    display: flex;
    gap: 30px;
}

.details-heading-section .poster {
    aspect-ratio: 5.5/8;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.details-heading-section .poster > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details-heading-section .right-side > * {
    color: rgb(196, 193, 198);
    font-family: 'Montserrat', sans-serif;
}

.details-heading-section .title {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    padding-block: 18px 5px;
}

.details-heading-section .other-info {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.other-info .separator {
    margin: 0 8px;
    color: rgba(196, 193, 198, 0.6);
}

.genres {
    margin-bottom: 30px;
}

.genres > span {
    font-weight: 600;
}

.rating-container {
    width: 425px;
    height: 75px;
    display: flex;
    margin-bottom: 30px;
}

.rating-container .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-container .item .label {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.rating-container .item .value {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 5px;
}

.rating-container .separator {
    width: 2px;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(196, 193, 198, 0.15);
}

.rating-container .icon {
    height: 24px;
    aspect-ratio: 1;
}

.rating-container .imdb-rating .value .icon {
    fill: rgba(250, 162, 0, 0.75);
}

.rating-container .vote-count .value .icon {
    fill: rgba(118, 152, 179, 0.85);
}

.rating-container .popularity .value .icon {
    fill: #49a078;
}

.rating-container .value .average {
    font-size: 1.5rem;
}

.description {
    width: min(100%Ùˆ 300px);
    height: 200px;
}

.description .title {
    padding: 0;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.description .title .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
}

.description .expander {
    color: black;
    background-color: rgb(175, 187, 242);
    border-radius: 50px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 0.9rem;
    display: none;
}

/* Cast Section */

.cast-members-container {
    padding-block: 50px;
    color: rgb(196, 193, 198);
}

.cast-members-container .title {
    font-size: 2.2rem;
    font-family: Montserrat;
    padding-bottom: 18px;
}

.cast-members-container .title span {
    padding-inline: 10px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: rgb(175, 187, 242);
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
}

.cast-members-container .title .icon {
    display: inline;
    height: 35px;
    aspect-ratio: 1;
    fill: rgb(196, 193, 198);
}

.cast-scroller-container {
    position: relative;
    height: 200px;
    user-select: none;
    overflow: hidden;
}

.cast-scroller-container:hover {
    cursor: grab;
}

.cast-scroller-container .sahdow-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 150px;
    pointer-events: none;
    z-index: 3;
}

.cast-scroller-container .sahdow-overlay-start {
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to right, rgb(13, 17, 24) 10%, transparent);
}

.cast-scroller-container .sahdow-overlay-end {
    right: 0;
    opacity: 1;
    background-image: linear-gradient(to left, rgb(13, 17, 24) 10%, transparent);
}

.cast-scroller-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: 200px;
    display: flex;
}

.cast-member {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 140px 30px 30px;
}

.cast-member .cast-image-container {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cast-member .cast-image {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.cast-member .cast-name,
.cast-member .cast-character-name {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .menu-button {
        display: block;
    }

    .nav-links-container {
        display: none;
    }
}

@media (max-width: 1280px) {
    .up-next-container {
        display: none;
    }
}

@media (max-height: 700px) {
    .carousel-container {
        height: calc(700px - 100px);
    }
}

@media (max-width: 780px) {
    .up-next-container {
        display: none;
    }

    .movie-header {
        flex-direction: column;
        align-items: center;
    }

    .movie-poster {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .movie-overview {
        order: 1;
    }
}
